<!DOCTYPE html>
<html>
  <head>
    <title>Flask Intro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="http://d3js.org/d3.v3.js"> </script>
  </head>
  <body>

    <div class="container">
       <h1>Cloud project </h1>
      <!-- child template -->
    <!--
    <div style="float:left">
        <a href="/login" class="text-center new-account">Sign In</a>
    </div>
    -->
      {% block content %}{% endblock %}

    </div>

  </body>
</html>
