{% extends "base.html"%}

{% block content %}

<div class="col-sm-6 col-md-4 col-md-offset-4">
           

            <div class="account-wall" role="form" method="POST" action="">


    <form action="" method="POST" enctype="multipart/form-data">
       <h4>Upload the file below in csv format!</h4>
        <br>
        <input type="file" name="file" value= "Submit">
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Upload">
           Upload
        </button>

     </form>

            </div>
</div>


{% endblock %}
